<html>
<head>
    <meta charset="utf-8">

    <title>Billenium Rejestracja</title>
    <link href="@Url.Content("~/Content/style.css")" rel="stylesheet" />
    <link href=@Url.Content("https://fonts.googleapis.com/css?family=Poiret+One") rel="stylesheet" />
</head>
<body>
    <div class="container">
        <img class="back" src=@Url.Content("~/Content/Images/pic2.jpg") alt="" />
        <h2 style="color: red; font-weight: 700;">Dziękujemy za rejestracje na praktyki w Billenium</h2>
        <header class="front">
           <p>Odezwiemy się wkrótce do Ciebie</p>
        </header>
    </div>
    <footer>
        &copy; Kacper Szymanek 2018
    </footer>
</body>
</html>